# Common
ENV=development
LOG_LEVEL=info

# Go API
GO_API_PORT=8080
GO_API_BASE_URL=http://localhost:8080

# OCR Service
OCR_SERVICE_PORT=8000
OCR_SERVICE_BASE_URL=http://localhost:8000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=struck_ocr
POSTGRES_USER=struck
POSTGRES_PASSWORD=struckpass
